 /* section for the home-page */
.home-page {
    width: 100%;
    padding-top: 180px;
}

.home-page h2 {
    font-size: 80px;
}

.home-page p {
    font-size: 27px;
    color: rgba(0, 0, 0, 0.733);
}
 
 @media (max-width: 768px) {
    .home-page h2 {
        font-size: 30px;
    }
    
    .home-page p {
        font-size: 18px;
        line-height: 24px;
    }

}

/* section for the culinary Journey pictures  */
.content img {
    height: 400px;
    width: 250px;
}

  /* section for more articles */
.more-articles {
    height: 50px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}  

#clk {
    padding: 16px 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer; 
}

#clk:hover {
    background-color: gray;
    color: #000;
}

 /* section for the best of thos  */
.part-1 {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 50px 0;
    background-color: rgba(128, 128, 128, 0.089);
}

.part-1 h1 {
    font-size: 50px;
}

.fluid {
    border: 30px solid gainsboro;
}

 /* section for "follow on instagram @Thos" */
.pictures img {
    height: 250px;
    width: 300px;

}
/* section for the footer */
.footer {
    background-color: rgba(128, 128, 128, 0.089);
    margin-top: 100px;
    height: 450px;
    padding: 100px 100px;
}

.footer-content {
    display: flex;
    justify-content: center;
    height: 220px;
    text-align: center;
    margin-top: 20px;
}

.footer h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

#clk-1 {
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer; 
}

#clk-1:hover {
    background-color: gray;
    color: #000;
}

input[type=email] {
    width: 310px;
    height: 35px;
    border: none;
    padding: 10px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.382);
}

.email {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.782);
}

.social-icons {
    letter-spacing: 8px;
}

.bi {
    color: rgba(66, 23, 23, 0.61);
}

.bi:hover {
    color: #000;
}

.small-txt {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.zyro-link {
    text-decoration: none;
    color: #000;
}

.zyro-link:hover {
    text-decoration: underline;
} 

 
@media (max-width: 425px) {
    .footer {
        padding: 30px 30px;
    }
    .footer h3 {
        font-size: 25px;
        
    }
}

